<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>gshark</title>
  <link rel="stylesheet" href="public/styles/bootstrap.min.css">
  <link rel="stylesheet" href="public/styles/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="public/index.css">
</head>
<body>
  <div id="app" class="allWrapper"></div>
  <script type="text/javascript" src="public/index.js"></script>
</body>
</html>
